# Ignore NetBeans GUI builder files
*.form linguist-generated=true

# Ignore NetBeans project config
nbproject/** linguist-generated=true

# Ignore build files
dist/** linguist-generated=true
build/** linguist-generated=true

# Ignore images
images/** linguist-generated=true