# NetBeans build
/build/
/dist/
/nbproject/private/

# IntelliJ
.idea/
*.iml
out/

# Compiled Java
*.class

# Archives
*.zip
*.tar.gz

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Manifest (optional)
manifest.mf